<footer>
  <div class="img-container">
      <img src="/assets/final-logo-transparent.png" alt="We Pray All Day">
  </div>
  <div class="links">
      <a href="/">Home</a>
      <a href="/notaboutus">Not About Us</a>
      <a href="/leaders">Leaders</a>
      <a href="/dashboard">Dashboard</a>
  </div>
  <a href="mailto:info@weprayallday.com">info@weprayallday.com</a>
  <p>2023 © Better Together Church Network</p>
</footer>