<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/styles/main.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://phc-widgets.s3.us-west-1.amazonaws.com/all.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/scripts/main.js" defer></script>
<script src="/scripts/calendar.js" defer></script>

<title>We Pray All Day</title>