<nav>
  <div class="logo-container">
    <img src="/assets/final-logo-transparent.png" alt="WE PRAY ALL DAY">
  </div>
  <div id="links-container">
    <div class="link"><a href="/notaboutus">Not About Us</a></div>
    <div class="link"><a href="/leaders">Leaders</a></div>
    <div class="link"><a href="/dashboard">Dashboard</a></div>
    <div class="link highlight"><a href="/guide">Prayer Guide</a></div>
  </div>
  <div class="toggle-nav">
    <button id="toggle-nav-btn">
      <i class="material-icons">menu</i>
    </button>
  </div>
</nav>

<script>
  const toggleNavBtnDOM = document.getElementById('toggle-nav-btn');
  const linksContainerDOM = document.getElementById('links-container')

  toggleNavBtnDOM.addEventListener('click', () => linksContainerDOM.classList.toggle('open'))
</script>