<div class="popup-container hidden">
    <div class="popup">
        <div id="title-row">
            <p id="popup-title">title</p>
        </div>
        <div id="content">
            <div id="popup-content"></div>
        </div>
        <div id="btn-row">
            <button class="popup-btn" id="popup-btn1" onclick="hidePopup()">close</button>
            <button class="popup-btn" id="popup-btn2">close</button>
        </div>
    </div>
</div>
<script>
    const showPopup = (title, content, btnText, btnLink, btn2Text, btn2Function) => {
        document.getElementById('popup-title').innerText = title;
        document.getElementById('popup-content').innerHTML = content;
        document.getElementById('popup-btn1').innerText = btnText;
        document.getElementById('popup-btn1').onclick = () => hidePopup(btnLink);

        if (!title || !content || !btnText) {
            return console.error('missing params: please provide "title", "context", and "btnText"')
        }

        const button2Elem = document.getElementById('popup-btn2');
        if (!btn2Text || !btn2Function) {
            button2Elem.style.display = 'none';
            button2Elem.style.visibility = 'hidden';
        } else {
            button2Elem.innerText = btn2Text;
            button2Elem.onclick = () => {
                hidePopup();
                btn2Function();
            };
        }


        const popupContainerDOM = document.querySelector('.popup-container');
        popupContainerDOM.classList.remove('hidden')
    }
    const hidePopup = (btnLink) => {
        const popupContainerDOM = document.querySelector('.popup-container');
    
        popupContainerDOM.classList.add('hidden')

        if (btnLink) window.location = btnLink
    }
</script>