<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="center-grid">
  
  <form onsubmit="getUserInfo(event)" id="password-reset-container">
    <h2>Reset Password</h3>
      <div class="input">
        <label for="email">Email</label>
        <input type="text" id="email" autocomplete="off" required>
        <span></span>
      </div>
 
    <button class="submit" type="submit"><p>Submit</p></button>

    <p class="form-error">Help</p>
  </form>

  <form id="get-code-options" onsubmit="sendCode(event)">
    <h2>Password Reset code</h2>
    <p>How would you like to receive your code to reset your password?</p>
    <div class="radio-input">
      <label for="email-code-option">Email:</label>
      <input type="radio" name="code-option" id="email-code-option" required>
      <label for="email-code-option" class="code-option" id="email-option-value"></label>
    </div>
    <div class="radio-input">
      <label for="phone-code-option">Phone:</label>
      <input type="radio" name="code-option" id="phone-code-option" checked required>
      <label for="phone-code-option" class="code-option" id="phone-option-value"></label>
    </div>

    <button class="submit" type="submit"><p>Send Code</p></button>
    
    <p class="form-error">Help</p>
  </form>
  
  <form id="verify-code" onsubmit="verifyCode(event)">
    <h2>Verify Code</h2>
    <p>Code sent successfully.</p>
    <div class="input">
      <label for="OTPCode">Code</label>
      <input type="number" id="OTPCode" autocomplete="off" max="999999" required>
      <span></span>
    </div>
    <button class="submit" type="submit"><p>Verify</p></button>
    
    <p class="form-error">Help</p>
  </form>

  <form id="create-password" onsubmit="createPassword(event)">
    <h2>Create New Password</h2>
    <div class="input">
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" autocomplete="off" required>
      <span></span>
    </div>
    <div class="input">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" autocomplete="off" required>
      <span></span>
    </div>
    <button class="submit" type="submit"><p>Submit</p></button>
    
    <p class="form-error">Help</p>
  </form>


  <script>
    const passwordResetContainerDOM = document.getElementById('password-reset-container');
    const getCodeOptionsDOM = document.getElementById('get-code-options');
    const verifyCodeDOM = document.getElementById('verify-code');
    const createPasswordDOM = document.getElementById('create-password');
    let user;
    const hideElem = (elem) => {
      elem.style.display = 'none';
      elem.style.visibility = 'hidden';
    }
    const showElem = (elem) => {
      elem.style.display = 'block';
      elem.style.visibility = 'visible';
    }
    const showError = (parentElem, errorMsg) => {
      const formErrorDOM = parentElem.querySelector('.form-error');
      formErrorDOM.textContent = errorMsg;
      showElem(formErrorDOM);
    }
    const hideError = () => {
      const formErrors = document.querySelectorAll('.form-error');
      [].forEach.call(formErrors, (elem) => {
        elem.style.display = 'none';
        elem.style.visibility = 'hidden';
      })
    }

    const getUserInfo = async (e) => {
      e.preventDefault();
      const emailInput = document.getElementById('email').value;

      user = await axios({
        method: 'get',
        url: '/api/v1/MinistryPlatformAPI/reset-password/user',
        params: {
          email: emailInput
        }
      })
        .then(response => response.data)
        .catch(err => {
          console.log(err)
          return null;
        });

      if (!user) {
        showError(passwordResetContainerDOM, 'User not found');
        return;
      }

      const emailOptionValueDOM = document.getElementById('email-option-value');
      const phoneOptionValueDOM = document.getElementById('phone-option-value');
      emailOptionValueDOM.textContent = user.Email_Address;
      phoneOptionValueDOM.textContent = user.Phone_Number;

      hideElem(passwordResetContainerDOM);
      showElem(getCodeOptionsDOM);
    }

    const sendCode = async (e) => {
      e.preventDefault();

      const emailCodeOptionDOM = document.getElementById('email-code-option');
      const textCodeOptionDOM = document.getElementById('phone-code-option');
      let code;

      if (textCodeOptionDOM.checked || emailCodeOptionDOM.checked) {
        code = await axios({
          method: 'get',
          url: '/api/v1/MinistryPlatformAPI/reset-password/get-code',
          params: {
            User_ID: user.User_ID,
            Method: textCodeOptionDOM.checked ? 'text' : 'email'
          }
        })
          .then(response => response.data)
          .catch(error => null);
      } else {
        return showError(getCodeOptionsDOM, 'Please Select An Option');
      }

      if (!code) {
        return showError(getCodeOptionsDOM, 'Something Went Wrong. Please Try Again')
      }

      hideElem(getCodeOptionsDOM);
      showElem(verifyCodeDOM);
    }

    const verifyCode = async (e) => {
      e.preventDefault();

      const codeInputDOM = document.getElementById('OTPCode');

      const isValid = await axios({
        method: 'post',
        url: '/api/v1/MinistryPlatformAPI/reset-password/verify-code',
        data: {
          OTPCode: codeInputDOM.value
        }
      })
        .then(response => response.data)
        .catch(error => console.log(error));

      if (!isValid) {
        showError(verifyCodeDOM, 'Wrong or Expired Code');
        return;
      }

      hideElem(verifyCodeDOM);
      showElem(createPasswordDOM);
    }

    const createPassword = async (e) => {
      e.preventDefault();

      const newPasswordInputDOM = document.getElementById('new-password');
      const confirmPasswordInputDOM = document.getElementById('confirm-password');
      const codeInputDOM = document.getElementById('OTPCode');

      if (newPasswordInputDOM.value !== confirmPasswordInputDOM.value) {
        showError(createPasswordDOM, 'Passwords Do Not Match');
        return;
      }

      const newUser = await axios({
        method: 'post',
        url: '/api/v1/MinistryPlatformAPI/reset-password/set-password',
        data: {
          User_ID: user.User_ID,
          Password: newPasswordInputDOM.value,
          OTPCode: codeInputDOM.value
        }
      })

      if (!newUser) {
        showError(createPasswordDOM, 'Something Went Wrong. Please Try Again');
        return;
      }

      window.location = '/login';
    }
  </script>
</body>
</html>