<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not About Us - We Pray All Day</title>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <section class="about-us" id="about-us-video">
        <div class="video-container">
            <iframe src="https://player.vimeo.com/video/794173767?h=9959b4b331" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>    
        </div>
    </section>
    <section class="about-us" id="about-us-content">
        <div class="col flex-1">
            <h1>This is not about any one church or ministry.</h1>
        </div>
        <div class="col flex-2">
            <p>We are a collective of churches and prayer groups from all sorts of denominations and backgrounds!</p>
            <p>We exist to Unite the Church to seek God's presence, transformation and awakening. We encourage Believers to come together to pray 24/7 for our communities to become better, for people who don't believe in God to learn about Him, and for our churches to grow stronger.</p>
            <a href="mailto:gjust@pureheart.org" class="contact-btn btn">Get In Contact</a>
        </div>
    </section>
</body>

</html>