$accent-red: #f04215;
$accent-blue: #fee32d;
$accent-yellow: #fcbb09;
$accent-yellow-2: #eaae07;
$accent-green: #2ecc71;
$primary-black: #2e2d2b;
$primary-black-transparent: #2e2d2bAA;
$secondary-black: #282828;
$primary-gray: #7f8c8d;
$primary-white: #f5eee3;
$secondary-white: #f7f1e3;

// sizing vars
$container-width: clamp(50vw, 1280px, 100vw);